.u-section-1 {
  background-image: url("images/76401915-a61c-83c7-58d7-50ddb77d42ed.jpg");
  background-position: 50% 50%;
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 977px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  line-height: 1.4;
  font-weight: 300;
  font-size: 1.375rem;
  text-transform: none;
  margin: 36px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  margin: 22px auto 0 0;
  padding: 17px 55px 17px 54px;
}

.u-section-1 .u-social-icons-1 {
  height: 27px;
  min-height: 16px;
  width: 74px;
  min-width: 52px;
  white-space: nowrap;
  margin: 79px auto 0 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 977px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 574px;
  width: 693px;
  margin: 0 auto 0 -7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 806px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 34px;
    padding-left: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-social-icons-1 {
    margin-right: NaNpx;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 806px;
  }

  .u-section-1 .u-image-1 {
    height: 415px;
    width: 501px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 675px;
  }

  .u-section-1 .u-image-1 {
    height: 348px;
    width: 420px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding: 50px 50px 50px 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 868px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 49px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-1 .u-image-1 {
    height: 282px;
    width: 340px;
  }
}