.u-section-1 {
  background-image: url("images/0fcd8bec5b468c893dd3516ce2d5177e.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 864px;
}

.u-section-1 .u-group-1 {
  width: 782px;
  min-height: 310px;
  margin: 75px auto 85px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-size: 4.5rem;
  margin: 28px 0 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  font-size: 1.5rem;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-1 .u-group-1 {
    width: 645px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 494px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 75px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
    margin-left: 25px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 50.33% 50%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 238px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 {
  background-image: url("images/1918d98345e59d0d01ee87ca1b030128.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 646px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 366px;
  margin: 235px 0 45px auto;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 35px 0 0 20px;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px 0 35px 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 45px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 35px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-2 .u-group-1 {
    min-height: 534px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 262px;
    margin-left: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 30px;
    margin-left: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-2 .u-group-1 {
    min-height: 538px;
    margin-top: 423px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin: 6px 6px 55px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 403px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 58px auto 58px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 288px;
}

.u-section-3 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.875rem;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.875rem;
}

.u-section-3 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 288px;
  background-image: none;
}

.u-section-3 .u-text-5 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.875rem;
  margin-top: 20px;
}

.u-section-3 .u-text-6 {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 0.875rem;
}

.u-section-3 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-3 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 718px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 74px auto 74px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-1 {
  width: 236px;
  height: 456px;
  margin: 39px auto 0;
}

.u-section-4 .u-text-1 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 10px 20px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-2 {
  width: 199px;
  height: 405px;
  margin: 83px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 28px 20px 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px 20px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 629px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-3 {
  width: 238px;
  height: 456px;
  margin: 39px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 20px 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: 10px 20px 39px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 215px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-2 {
    width: 193px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-image-3 {
    width: 227px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 149px;
    position: relative;
  }

  .u-section-4 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 126px;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-3 {
    width: 150px;
    position: relative;
  }

  .u-section-4 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 241px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 39px;
  }

  .u-section-4 .u-image-2 {
    width: 207px;
    margin-top: 61px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 61px;
  }

  .u-section-4 .u-image-3 {
    width: 242px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-4 .u-image-1 {
    width: 223px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-4 .u-image-2 {
    width: 199px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-3 {
    width: 222px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-5 {
  background-image: url("images/67bd5b492602e5b09bfd6870cc191d1a.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 748px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 650px;
  margin: 120px auto 106px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 187px;
}

.u-section-5 .u-text-1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 3rem;
}

.u-section-5 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-5 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-4 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-5 .u-layout-cell-3 {
  background-image: none;
  min-height: 322px;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 20px 20px 30px 0;
}

.u-section-5 .u-layout-cell-4 {
  background-image: none;
  min-height: 322px;
}

.u-section-5 .u-text-7 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.5rem;
}

.u-section-5 .u-text-8 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 536px;
    margin-top: 34px;
    margin-bottom: 20px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
    position: relative;
  }

  .u-section-5 .u-text-6 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    font-size: 1.25rem;
  }

  .u-section-5 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 411px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 13px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 385px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 272px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 323px;
    margin-bottom: 1px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 6px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 {
  background-image: none;
  min-height: 703px;
}

.u-section-6 .u-image-1 {
  width: calc(((100% - 1140px) / 2) + 769px);
  height: 509px;
  object-position: 0% 50%;
  margin: 194px 0 0 auto;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 308px;
  margin: -663px auto 70px calc(((100% - 1140px) / 2));
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-6 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  font-size: 3rem;
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 123px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 101px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    width: calc(((100% - 940px) / 2) + 630px);
    height: 378px;
    margin-top: 230px;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
    margin-top: -524px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 101px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    width: calc(((100% - 720px) / 2) + 525px);
  }

  .u-section-6 .u-group-1 {
    width: 360px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 78px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 64px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-image-1 {
    height: 341px;
    margin-top: 267px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 229px;
    margin-top: -587px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 20px;
    margin-right: 56px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 9px;
    margin-right: 91px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 9px;
    margin-right: 91px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    height: 231px;
    margin-top: 377px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    width: 283px;
    min-height: 356px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 30px;
    margin-bottom: 26px;
  }
}.u-section-7 {
  background-image: url("images/7079c042b613bd4f735e18989b0a030a.png");
  background-position: 50% 0%;
}

.u-section-7 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-7 .u-group-1 {
  width: 782px;
  min-height: 336px;
  margin: 531px auto 4px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-7 .u-text-1 {
  line-height: 1;
  width: 546px;
  font-size: 4.5rem;
  margin: 25px auto 0;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  width: 560px;
  margin: 10px auto 0;
}

.u-section-7 .u-text-3 {
  width: 541px;
  font-size: 0.875rem;
  margin: 30px auto 25px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-7 .u-group-1 {
    width: 803px;
    min-height: 360px;
    margin-top: 469px;
    margin-bottom: 27px;
  }

  .u-section-7 .u-text-1 {
    width: 545px;
    position: relative;
    margin-top: 35px;
  }

  .u-section-7 .u-text-2 {
    width: 462px;
    position: relative;
    margin-top: 20px;
  }

  .u-section-7 .u-text-3 {
    width: 446px;
    position: relative;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 915px;
  }

  .u-section-7 .u-group-1 {
    width: 607px;
    min-height: 427px;
    margin-top: 465px;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: 45px;
    margin-left: 37px;
    margin-right: 37px;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: 464px;
    margin-top: 10px;
  }

  .u-section-7 .u-text-3 {
    width: 342px;
    margin-top: 29px;
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-7 .u-group-1 {
    width: 463px;
    min-height: 506px;
    margin-top: 520px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 50px;
    margin-left: 28px;
    margin-right: 28px;
    font-size: 3.75rem;
  }

  .u-section-7 .u-text-2 {
    width: 332px;
    margin-top: 17px;
  }

  .u-section-7 .u-text-3 {
    width: 320px;
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-7 .u-group-1 {
    min-height: 345px;
    margin-top: 333px;
    margin-bottom: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-left: 31px;
    margin-right: 31px;
    width: auto;
  }

  .u-section-7 .u-text-3 {
    width: 269px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 780px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 52px auto 52px 0;
}

.u-section-8 .u-image-1 {
  background-image: url("images/efd1787307b49297fed74405d75e9d69.jpeg");
  min-height: 346px;
  background-position: 95.59% 50%;
}

.u-section-8 .u-image-2 {
  background-image: url("images/cc324d741b75bc6024f03cafc9a569fc.jpeg");
  min-height: 346px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-3 {
  background-image: url("images/7827a2e1525de4a651bb383182eac2ee.jpeg");
  min-height: 346px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-4 {
  background-image: url("images/1fa8a54fb88b3eba14f0d51a59984588.png");
  min-height: 350px;
  background-position: 50% 50%;
}

.u-section-8 .u-image-5 {
  background-image: url("images/7b6b0b27ad9f2897db0217365a5a1f04.jpeg");
  min-height: 350px;
  background-position: 75.68% 50%;
}

.u-section-8 .u-image-6 {
  background-image: url("images/ad9850ee5507d59500fcb7c6921e6d39.png");
  min-height: 350px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}